# Variables

In [4]:
x = "Hello"
y = "World"
X = 5
print(x + " ", y)
print(x + ' ', y)
a = b = c = 4
print(a)
a, b, c = 1, 3, "hi"
print(a, b, c)
a_string = str(a)
print(type(a), a)
print(type(a_string), a_string)
print(a_string * 10)

# Camel Case
myIntVariable = 14

# Pascale Case
MyIntVariable = 14

# Snake Case
my_int_variable = 14

x = 1 + 2j
print(type(x))

y = "5"
print(type(y))
y = int(y)
print(type(y))
y = float(y)
print(type(y))

a = 5e5
print(a)


print(4 > 5)
print(4 <= 5)


print("laksjdfkd lkjads fklj lkajdsf !\n aslkdjf lakjsdf lkaj df")
print("laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj dflaksjdfkd lkjads \
fklj lkajdsf ! aslkdjf lakjsdf lkaj df")

print("""lkjadskf lkasjdfklj adslkfj kljasdf 
ldsakjf lkajsdf lkj asdf
      lakjsdf  lkasjdf """)

var1 = 4
var2 = 2.3
var3 = "cloud"

print(f"var1: {var1} -- var2: {var2} -- var3: {var3}")
print("var1: {2} -- var2: {1} -- var3: {0}".format(var1, var2, var3))
print("var1: %d -- var2: %f -- var3: %s"%(var1, var2, var3))

name = float(input("give me a number: "))
print(type(name))

Hello  World
Hello  World
4
1 3 hi
<class 'int'> 1
<class 'str'> 1
1111111111
<class 'complex'>
<class 'str'>
<class 'int'>
<class 'float'>
500000.0
False
True
laksjdfkd lkjads fklj lkajdsf !
 aslkdjf lakjsdf lkaj df
laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj dflaksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df
lkjadskf lkasjdfklj adslkfj kljasdf
ldsakjf lkajsdf lkj asdf
      lakjsdf  lkasjdf
var1: 4 -- var2: 2.3 -- var3: cloud
var1: cloud -- var2: 2.3 -- var3: 4
var1: 4 -- var2: 2.300000 -- var3: cloud
<class 'float'>

# Operators and Conditions

In [5]:
a = 2
b = 5

c = a + b
c = a - b
c = a * b
c = a / b
c = a % b
c = a // b

#*********************************************

#a += b  # a = a + b

#*********************************************

if a > b: # >  <  >=  <=  ==  !=
    print("a is greater than b")
else:
    print("b is greater than a")

#*********************************************

if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("b is greater than a")

#*********************************************

if a > b and a > 10: # &
    print("great !")
else:
    print("the other case")
    
if a > b or a > 10: # |
    print("great !")
else:
    print("the other case")
    
#*********************************************

if a > b: print("a is greater than b")
print("A") if a > b else print("B")
print("A") if a > b else print("B") if a < b else print("=")

b is greater than a
b is greater than a
the other case
the other case
B
B

# For and While Loops

In [27]:
i = 0
# while i < 10:
#     print(i)
#     if i == 17:
#         break
#     i += 1
# else:
#     print("My loop has been finished")
    
# while i < 10:
#     i += 1
#     if i == 5:
#         continue
#     print(i)

# for i in range(5):
#     print(i)
    
# for i in range(1,10):
#     print(i)

for i in range(1,10,3):
    pass

if i == 0:
    pass

# for i in "Anas":
#     print(i)
    
st = "Anas"
for i in range(len(st)):
    print(st[i])

A
n
a
s

# List []

In [1]:
lt = []
lt1 = list()

In [3]:
type(lt1)

list

In [4]:
lt = [4, 5, 6, "anas", ['azdad', 45]]

In [5]:
print(lt)

[4, 5, 6, 'anas', ['azdad', 45]]

In [7]:
lt.append(0)
lt

[4, 5, 6, 'anas', ['azdad', 45], 0, 0]

In [10]:
lt.insert(0, "hello")
lt

['hello', 5, 6, 'anas', ['azdad', 45], 0]

In [8]:
lt.pop()
lt

[4, 5, 6, 'anas', ['azdad', 45], 0]

In [9]:
lt.pop(0)
lt

[5, 6, 'anas', ['azdad', 45], 0]

In [11]:
lt.remove('anas')

In [12]:
lt

['hello', 5, 6, ['azdad', 45], 0]

## Exception

In [17]:
try:
    lt.remove('alsdjf')
except Exception:
    print("this element doesn't exist in your list")
lt

this element doesn't exist in your list

['hello', 5, 6, ['azdad', 45], 0]

In [22]:
lt = [i for i in range(5) if i != 2 and i != 0]
lt

[1, 3, 4]

In [38]:
lt = [4,5,1,0,7]
lt.sort()
lt

[0, 1, 4, 5, 7]

In [24]:
lt.sort(reverse=True)
lt

[7, 5, 4, 1, 0]

In [25]:
min(lt)

0

In [26]:
max(lt)

7

In [27]:
sum(lt)

17

In [29]:
type(str(lt))

str

In [30]:
lt[0]

7

In [32]:
lt2 = ["anas", "azdad"]

In [33]:
lt = lt + lt2
lt

[7, 5, 4, 1, 0, 'anas', 'azdad']

In [39]:
lt.extend(lt2)
lt

[0, 1, 4, 5, 7, 'anas', 'azdad']

In [40]:
lt.count(5)

1

In [41]:
lt.append(5)

In [42]:
lt.count(5)

2

In [8]:
lt1 = [1, 2, 3]
lt2 = lt1
lt2.append(0)
lt1

[1, 2, 3, 0]

In [12]:
lt1 = [1, 2, 3]
lt2 = lt1[:]
lt2.append(0)
lt1

[1, 2, 3]

In [13]:
import copy

lt1 = [1, 2, 3]
lt2 = copy.deepcopy(lt1)
lt2.append(0)
lt1

[1, 2, 3]

In [14]:
from copy import deepcopy

lt1 = [1, 2, 3]
lt2 = copy.deepcopy(lt1)
lt2.append(0)
lt1

[1, 2, 3]

# Slicing

In [36]:
lt = [0,1,2,3,4,5,6,7,8,9,10]
# lt[start:stop:step]
print(lt[0:])
lt[:5]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4]

In [38]:
lt[0:5:2]

[0, 2, 4]

In [39]:
lt[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
lt[-11]

0

In [41]:
lt[-1]

10

In [43]:
lt[-5:-1]

[6, 7, 8, 9]

In [44]:
lt[::1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
lt[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
lt[-1:-5:-1]

[10, 9, 8, 7]

In [47]:
lt[:-2:-1]

[10]

In [48]:
lt[-2::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
lt[1::-1]

[1, 0]

# Zip and Enumerate

In [5]:
lt1 = ['a1', 'a2', 'a3', 'a4']
for i,elt in enumerate(lt1):
    print(str(i) + ' ' + str(elt))

0 a1
1 a2
2 a3
3 a4

In [6]:
lt2 = ['b1', 'b2', 'b3', 'b4']
for a,b in zip(lt1,lt2):
    print(str(a) + ' ' + str(b))

a1 b1
a2 b2
a3 b3
a4 b4

In [8]:
for i,(a,b) in enumerate(zip(lt1,lt2)):
    print(str(i) + ' ' + str(a) + ' ' + str(b))

0 a1 b1
1 a2 b2
2 a3 b3
3 a4 b4

# Strings

In [8]:
ch1 = "Hello world ! 5"
lt = ch1.split(" ")

for mot in lt:
    if mot.isdigit():
        print(mot + ' est un : ' + 'nombre')
    else:
        print(mot + ' est une : ' + 'String')

Hello est une : String
world est une : String
! est une : String
5 est un : nombre

In [9]:
for mot in lt:
    if mot.isalpha():
        print(mot + ' est un : ' + 'String')
    else:
        print(mot + ' est une : ' + 'Nombre')

Hello est un : String
world est un : String
! est une : Nombre
5 est une : Nombre

In [13]:
"user123!".isalnum()

False

In [14]:
nom = "Anas Azdad"
nom.lower()

'anas azdad'

In [15]:
nom.upper()

'ANAS AZDAD'

In [18]:
nom.endswith("Azdad")

True

In [20]:
nom.startswith("a")

False

In [28]:
ch2 = "hello" + 'world'
ch2 = "Hello world !"

In [22]:
ch2[0]

'h'

In [23]:
ch2[0] = "H"

TypeError: 'str' object does not support item assignment

In [27]:
ch2.replace('o', 'a', 1)

'Hella world !'

In [29]:
ch2 = list(ch2)

In [30]:
type(ch2)

list

In [32]:
ch2[0] = 'A'
ch2

['A', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!']

In [33]:
ch2 = ''.join(ch2)
ch2

'Aello world !'

In [34]:
id(ch2)

1910506838704

In [35]:
ch2 += " !"
id(ch2)

1910506624368

In [36]:
lt1 = ['anas']
id(lt1)

1910519919808

In [37]:
lt1 += 'azdad'
id(lt1)

1910519919808

# Tuples / type immutable

In [5]:
tp = (1, 'hello')
id(tp)

2357330522944

In [3]:
tp[0] = 2

TypeError: 'tuple' object does not support item assignment

In [11]:
tp = (1, 'hello', 2)
id(tp)

2357326916544

In [8]:
tp = ('str')
type(tp)

str

In [10]:
tp = ('str',)
type(tp)

tuple

In [12]:
len(tp)

3

In [20]:
tp1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 1)

In [17]:
sum(tp1)
min(tp1)
max(tp1)

9

In [18]:
tp1[0:3]

(1, 2, 3)

In [19]:
tp1.index(1)

0

In [21]:
tp1.count(1)

3

# Dictionaries and Sets

In [10]:
d1 = dict()
d2 = {}
d3 = {'nom':'Azdad','prenom':'Anas','age':22, 4:5}
d4 = {'a':1, 'b':2, 'c':3}

In [7]:
d3[4]

5

In [8]:
len(d3)

4

In [11]:
min(d4)

'a'

In [12]:
del(d4['a'])

In [13]:
d4

{'b': 2, 'c': 3}

In [14]:
d4.clear()
d4

{}

In [16]:
for indices, values in d3.items():
    print(indices, ' ', values)

nom   Azdad
prenom   Anas
age   22
4   5

In [17]:
for indices in d3.keys():
    print(indices)

nom
prenom
age
4

In [18]:
for values in d3.values():
    print(values)

Azdad
Anas
22
5

In [20]:
d3.pop(4)

5

In [27]:
lt = ['a', 'b', 'c', 'd', 'e', 'f']
lt_dt = {i:lt[i] for i in range(len(lt))}
lt_dt

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f'}

In [22]:
lt = ['anas', 5, 7, 2, 3, 4, 5, 'anas', 1, 1]
ens = set(lt)
ens

{1, 2, 3, 4, 5, 7, 'anas'}

In [23]:
ens[0]

TypeError: 'set' object is not subscriptable

In [25]:
ens1 = {'anas',1, 'anas'}
type(ens1)

set

In [26]:
ens1

{1, 'anas'}

# Mutable and Immutable Objects

**Mutable Types :** Lists, dictionaries, and sets.

**Immutable Types :** Int, Float, String, Boolean, Lists.

In [7]:
lt = ['a', 'b', 'c', 'd', 'e', 'f']
a = 43
print(id(lt))
print(id(a))

2596621161152
2596510527088

In [2]:
lt += 'g'
a += 7
print(id(lt))
print(id(a))

2596591758016
2596510527312

In [8]:
lt2 = lt
b = a
print(id(lt2))
print(id(b))

2596621161152
2596510527088

In [4]:
print(lt2 is lt)

True

In [9]:
b += 12
print(a)

43

In [11]:
lt2.append('h')
print(lt)
print(id(lt2))

['a', 'b', 'c', 'd', 'e', 'f', 'h', 'h']
2596621161152

In [12]:
tp = ('hello', 12, lt)

In [13]:
lt.append('i')

In [14]:
print(tp)

('hello', 12, ['a', 'b', 'c', 'd', 'e', 'f', 'h', 'h', 'i'])

# Functions

In [18]:
def somme_1(a,b):
    print(a + b)

def somme_2(a,b):
    return a + b

def somme_soustraction(a,b):
    return a + b, a - b

somme_1(1,2)
print(somme_2(1,3))
s, d = somme_soustraction(4,3)
print(s, d)

3
4
7 1

In [27]:
a,b,c = [int(i) for i in input("Donnez trois valeurs :").split(",")]

In [28]:
print(type(a),b,c)

<class 'int'> 2 3

In [31]:
def fct(prenom, nom="Azdad"):
    print(prenom, nom)
    
fct("Anas", "Dabaghi")

Anas Dabaghi

In [33]:
def fct2(age, *lt, **dict):
    print(age, lt, dict)

fct2(22,1,2,3,a=1,b=2,c=3)

22 (1, 2, 3) {'a': 1, 'b': 2, 'c': 3}

In [4]:
tp = ('a', 'b')
tp[0] = ('b')

TypeError: 'tuple' object does not support item assignment

# File Paths

In [1]:
from os.path import basename, dirname, isfile, normpath, join
import os

In [1]:
os.getcwd()

'c:\\Users\\Anas\\Videos\\YOUTUBE\\imgs\\Python\\Tutorial'

In [4]:
dirname(os.getcwd())

'c:\\Users\\Anas\\Videos\\YOUTUBE\\imgs\\Python'

In [5]:
basename(os.getcwd())

'Tutorial'

In [6]:
isfile(os.getcwd())

False

In [2]:
join("c:/", 'Users/Anas')

'c:/Users/Anas'

In [13]:
join("c:\\Users\\Anas\\Videos\\YOUTUBE\\imgs\\Python\\Tutorial", 'text.txt')

'c:\\Users\\Anas\\Videos\\YOUTUBE\\imgs\\Python\\Tutorial\\text.txt'

In [12]:
print("anas\\azdad")

anas\azdad

In [3]:
with open(join(r"c://\Users//Anas//Videos//YOUTUBE//imgs//Python//Tutorial", 'text.txt'), 'rb') as f:
    print(f.read())

b'Hello World !'

In [25]:
normpath(join(r"c://\Users//Anas//\/\\//Videos//YOUTUBE//imgs//Python//Tutorial", 'text.txt'))

'c:\\Users\\Anas\\Videos\\YOUTUBE\\imgs\\Python\\Tutorial\\text.txt'

# Random Module

In [1]:
import random as rand

In [8]:
rand.randrange(1,6)

5

In [9]:
lt = ['a', 'b', 'c', 'd', 'e']

In [13]:
rand.choice(lt)

'b'

In [17]:
rand.random()

0.36124031046585225

In [19]:
rand.sample(lt, 3)

['d', 'e', 'b']

In [22]:
rand.shuffle(lt)

In [23]:
lt

['c', 'a', 'e', 'd', 'b']

In [40]:
rand.randint(3,7)

5