# Variables

In [4]:
x = "Hello"
y = "World"
X = 5
print(x + " ", y)
print(x + ' ', y)
a = b = c = 4
print(a)
a, b, c = 1, 3, "hi"
print(a, b, c)
a_string = str(a)
print(type(a), a)
print(type(a_string), a_string)
print(a_string * 10)

# Camel Case
myIntVariable = 14

# Pascale Case
MyIntVariable = 14

# Snake Case
my_int_variable = 14

x = 1 + 2j
print(type(x))

y = "5"
print(type(y))
y = int(y)
print(type(y))
y = float(y)
print(type(y))

a = 5e5
print(a)


print(4 > 5)
print(4 <= 5)


print("laksjdfkd lkjads fklj lkajdsf !\n aslkdjf lakjsdf lkaj df")
print("laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj dflaksjdfkd lkjads \
fklj lkajdsf ! aslkdjf lakjsdf lkaj df")

print("""lkjadskf lkasjdfklj adslkfj kljasdf 
ldsakjf lkajsdf lkj asdf
      lakjsdf  lkasjdf """)

var1 = 4
var2 = 2.3
var3 = "cloud"

print(f"var1: {var1} -- var2: {var2} -- var3: {var3}")
print("var1: {2} -- var2: {1} -- var3: {0}".format(var1, var2, var3))
print("var1: %d -- var2: %f -- var3: %s"%(var1, var2, var3))

name = float(input("give me a number: "))
print(type(name))

Hello  World
Hello  World
4
1 3 hi
<class 'int'> 1
<class 'str'> 1
1111111111
<class 'complex'>
<class 'str'>
<class 'int'>
<class 'float'>
500000.0
False
True
laksjdfkd lkjads fklj lkajdsf !
 aslkdjf lakjsdf lkaj df
laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df laksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj dflaksjdfkd lkjads fklj lkajdsf ! aslkdjf lakjsdf lkaj df
lkjadskf lkasjdfklj adslkfj kljasdf
ldsakjf lkajsdf lkj asdf
      lakjsdf  lkasjdf
var1: 4 -- var2: 2.3 -- var3: cloud
var1: cloud -- var2: 2.3 -- var3: 4
var1: 4 -- var2: 2.300000 -- var3: cloud
<class 'float'>

# Operators and Conditions

In [5]:
a = 2
b = 5

c = a + b
c = a - b
c = a * b
c = a / b
c = a % b
c = a // b

#*********************************************

#a += b  # a = a + b

#*********************************************

if a > b: # >  <  >=  <=  ==  !=
    print("a is greater than b")
else:
    print("b is greater than a")

#*********************************************

if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("b is greater than a")

#*********************************************

if a > b and a > 10: # &
    print("great !")
else:
    print("the other case")
    
if a > b or a > 10: # |
    print("great !")
else:
    print("the other case")
    
#*********************************************

if a > b: print("a is greater than b")
print("A") if a > b else print("B")
print("A") if a > b else print("B") if a < b else print("=")

b is greater than a
b is greater than a
the other case
the other case
B
B

# For and While Loops

In [27]:
i = 0
# while i < 10:
#     print(i)
#     if i == 17:
#         break
#     i += 1
# else:
#     print("My loop has been finished")
    
# while i < 10:
#     i += 1
#     if i == 5:
#         continue
#     print(i)

# for i in range(5):
#     print(i)
    
# for i in range(1,10):
#     print(i)

for i in range(1,10,3):
    pass

if i == 0:
    pass

# for i in "Anas":
#     print(i)
    
st = "Anas"
for i in range(len(st)):
    print(st[i])

A
n
a
s

# List []

In [1]:
lt = []
lt1 = list()

In [3]:
type(lt1)

list

In [4]:
lt = [4, 5, 6, "anas", ['azdad', 45]]

In [5]:
print(lt)

[4, 5, 6, 'anas', ['azdad', 45]]

In [7]:
lt.append(0)
lt

[4, 5, 6, 'anas', ['azdad', 45], 0, 0]

In [10]:
lt.insert(0, "hello")
lt

['hello', 5, 6, 'anas', ['azdad', 45], 0]

In [8]:
lt.pop()
lt

[4, 5, 6, 'anas', ['azdad', 45], 0]

In [9]:
lt.pop(0)
lt

[5, 6, 'anas', ['azdad', 45], 0]

In [11]:
lt.remove('anas')

In [12]:
lt

['hello', 5, 6, ['azdad', 45], 0]

## Exception

In [17]:
try:
    lt.remove('alsdjf')
except Exception:
    print("this element doesn't exist in your list")
lt

this element doesn't exist in your list

['hello', 5, 6, ['azdad', 45], 0]

In [22]:
lt = [i for i in range(5) if i != 2 and i != 0]
lt

[1, 3, 4]

In [38]:
lt = [4,5,1,0,7]
lt.sort()
lt

[0, 1, 4, 5, 7]

In [24]:
lt.sort(reverse=True)
lt

[7, 5, 4, 1, 0]

In [25]:
min(lt)

0

In [26]:
max(lt)

7

In [27]:
sum(lt)

17

In [29]:
type(str(lt))

str

In [30]:
lt[0]

7

In [32]:
lt2 = ["anas", "azdad"]

In [33]:
lt = lt + lt2
lt

[7, 5, 4, 1, 0, 'anas', 'azdad']

In [39]:
lt.extend(lt2)
lt

[0, 1, 4, 5, 7, 'anas', 'azdad']

In [40]:
lt.count(5)

1

In [41]:
lt.append(5)

In [42]:
lt.count(5)

2

In [8]:
lt1 = [1, 2, 3]
lt2 = lt1
lt2.append(0)
lt1

[1, 2, 3, 0]

In [12]:
lt1 = [1, 2, 3]
lt2 = lt1[:]
lt2.append(0)
lt1

[1, 2, 3]

In [13]:
import copy

lt1 = [1, 2, 3]
lt2 = copy.deepcopy(lt1)
lt2.append(0)
lt1

[1, 2, 3]

In [14]:
from copy import deepcopy

lt1 = [1, 2, 3]
lt2 = copy.deepcopy(lt1)
lt2.append(0)
lt1

[1, 2, 3]

# Slicing

In [36]:
lt = [0,1,2,3,4,5,6,7,8,9,10]
# lt[start:stop:step]
print(lt[0:])
lt[:5]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4]

In [38]:
lt[0:5:2]

[0, 2, 4]

In [39]:
lt[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
lt[-11]

0

In [41]:
lt[-1]

10

In [43]:
lt[-5:-1]

[6, 7, 8, 9]

In [44]:
lt[::1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
lt[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [46]:
lt[-1:-5:-1]

[10, 9, 8, 7]

In [47]:
lt[:-2:-1]

[10]

In [48]:
lt[-2::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
lt[1::-1]

[1, 0]

# Zip and Enumerate

In [5]:
lt1 = ['a1', 'a2', 'a3', 'a4']
for i,elt in enumerate(lt1):
    print(str(i) + ' ' + str(elt))

0 a1
1 a2
2 a3
3 a4

In [6]:
lt2 = ['b1', 'b2', 'b3', 'b4']
for a,b in zip(lt1,lt2):
    print(str(a) + ' ' + str(b))

a1 b1
a2 b2
a3 b3
a4 b4

In [8]:
for i,(a,b) in enumerate(zip(lt1,lt2)):
    print(str(i) + ' ' + str(a) + ' ' + str(b))

0 a1 b1
1 a2 b2
2 a3 b3
3 a4 b4